mat-card {
    max-width: 400px;
    margin: 20px auto;
  }
  
  mat-card-content {
    text-align: center;
  }
  // :host {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: flex-start;
  // }
  .login-form{
    display: grid;
  }
  .btn{
    display: flex;
    gap: 10px;
  }