.avatar {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .toolbar {
    justify-content: end;
  }
  .spinner__loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }