<mat-toolbar color="primary" class="toolbar">
    <span class="example-spacer"></span>
    <div *ngIf="authCheck.canActivate()" fxLayout="row" fxLayoutAlign="end center">
      <mat-icon class="avatar">{{ userInitials }}</mat-icon>
    </div>
    <div fxLayoutAlign="end center">
      <button mat-button *ngIf="!authCheck.canActivate()" routerLink="/login">Login</button>
      <button mat-button *ngIf="!authCheck.canActivate()" routerLink="/signup">Signup</button>
      <button mat-button *ngIf="authCheck.canActivate()" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>
  <div *ngIf="loading; else content">

    <div class="spinner__loading">
      <div>
        <mat-spinner></mat-spinner>

      </div>
    </div>
  </div>
  <ng-template #content>
    <mat-card style="width: 80%; margin: auto;" *ngIf="authCheck.canActivate()">
      
      <mat-card-header>
        <!-- <mat-card-title>{{ isBarChart ? 'Simple Bar Chart' : 'Simple Pie Chart' }}</mat-card-title> -->
      </mat-card-header>
      <mat-card-content style="display: flex; align-items: center; justify-content: center; height: 300px;">
        <highcharts-chart
        *ngIf="showChart"
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 100%;"
        ></highcharts-chart>
        <!-- <div id="container" style="width:100%; height:400px;"></div> -->
  
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="toggleChartType()">
          {{ isBarChart ? 'Switch to Pie Chart' : 'Switch to Bar Chart' }}
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
  
  <router-outlet></router-outlet>